.logo {
    width: 20rem;
}

.main-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    ul {
        display: inline;
        a {
            &:not(:last-child) {
                margin-right: 2rem !important;
            }
            li {
                display: inline;
            }
        }
    }
}
