* {
    box-sizing: border-box;
    line-height: 1;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    color: $text-colour;
    background-color: $bg-colour;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $header-colour;
    margin: 0;
}

a {
    text-decoration: none;
    color: $main-colour;
    position: relative;
    &:hover,
    &:focus {
        color: lighten($main-colour, 10);
        text-decoration: underline;
    }
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

    @media (min-width: 1200px) {
        max-width: calc(1140px - 100px);
    }
}

.hero-intro {
    height: 50rem;
    display: flex;
    align-items: center;
    @media (max-width: $breakpoint-md) {
        flex-direction: column;
        height: auto;
    }
    &-about {
        p {
            line-height: initial;
        }
    }
}

.name {
    font-size: 8rem;
    font-style: italic;
    @media (max-width: $breakpoint-md) {
        font-size: 6rem;
    }
    @media (max-width: $breakpoint-sm) {
        font-size: 4rem;
    }
}

nav {
    text-align: right;
    @media (max-width: $breakpoint-md) {
        text-align: center;
    }
    .nav-list {
        padding-left: 0;
        li {
            display: inline;
            &:not(:last-child) {
                margin-right: 4rem;
            }
            a {
                color: $text-colour;
                font-style: italic;
                font-weight: bold;
                &.ico {
                    &::before {
                        content: "";
                        background-repeat: no-repeat;
                        position: absolute;
                        width: 2rem;
                        height: 2rem;
                        top: -0.2rem;
                        left: -2.5rem;
                    }
                    &.linkedin {
                        &::before {
                            background-image: url(../img/linkedin.svg);
                        }
                    }
                    &.github {
                        &::before {
                            background-image: url(../img/github.svg);
                        }
                    }
                    &.twitter {
                        &::before {
                            background-image: url(../img/twitter.svg);
                        }
                    }
                }
            }
        }
    }
}

figure {
    transition: 0.3s ease all;
    object-fit: fill;
    margin: 1rem;
    position: relative;
    .headshot {
        transition: 0.3s ease all;
        border: 0.5rem solid rgba($red, 0.6);
        position: relative;
        max-width: 100%;
        border-radius: 50%;
        z-index: 3;
    }
    &:after,
    &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }
    &:after {
        border: 0.5rem solid $red;
        z-index: 2;
        top: 1rem;
        left: -1rem;
        background-color: lighten($red, 10%);
    }
    &:before {
        border: 0.5rem solid $second-colour;
        z-index: 1;
        top: -2rem;
        left: 1rem;
        background-color: lighten($second-colour, 10%);
    }

    @media (max-width: $breakpoint-md) {
        text-align: center;
        margin-top: 3rem;
        .headshot {
            max-width: 70%;
        }
        &:after,
        &:before {
            content: unset;
        }
    }
    @media (max-width: $breakpoint-sm) {
        .headshot {
            max-width: 60%;
        }
    }
}

.under-the-hood-area {
    background-image: url(../img/under-the-hood.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 40rem;

    &:after,
    &:before {
        content: "";
        height: 14rem;
        width: 100%;
        position: absolute;
        z-index: 2;
        background-size: cover;
    }

    &:before {
        top: 0;
        background-image: url(../img/paper-border-top.png);
    }

    &:after {
        bottom: 0;
        background-image: url(../img/paper-border-bottom.png);
    }

    @media (max-width: $breakpoint-md) {
        height: 25rem;
        &:after,
        &:before {
            height: 8rem;
        }
    }
}

footer {
    font-size: 1.4rem;
    text-align: center;
    .credits {
        text-align: left;
    }
    .code-source {
        text-align: right;
    }
    @media (max-width: $breakpoint-md) {
        .credits,
        .code-source {
            text-align: center;
        }
    }
}
