*,
::after,
::before {
    box-sizing: border-box;
    line-height: 1;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    color: $text-colour;
    background-color: $bg-colour;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $header-colour;
    margin: 0;
}

a {
    text-decoration: none;
    color: $main-colour;
    position: relative;
    &:hover,
    &:focus {
        color: lighten($main-colour, 10);
        text-decoration: underline;
    }
}

ul {
    padding: 0;
}

.global-wrapper {
    display: flex;
    min-height: 100vh;
}

.nav-sidebar {
    height: 100vh;
    position: fixed;
    background-color: lightsalmon;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    width: 8rem;
}

.content-wrapper {
    width: 100%;
    display: flex;
    flex-flow: column;
    margin-left: 8rem;
}

.container {
    width: 100%;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    margin-right: auto;
    margin-left: auto;

    @media (min-width: $breakpoint-xl) {
        max-width: calc(114rem - 10rem);
    }
}

.name {
    font-size: 8rem;
    font-style: italic;
    @media (max-width: $breakpoint-md) {
        font-size: 6rem;
    }
    @media (max-width: $breakpoint-sm) {
        font-size: 4rem;
    }
}

.headshot {
    border: 0.5rem solid rgba($red, 0.6);
    border-radius: 50%;
    z-index: 3;
}

footer {
    margin-top: auto;
    font-size: 1.4rem;
    text-align: center;
}
