// Breakpoints
$breakpoint-sm: 568px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;

// Colour palette
$header-colour: rgba(33, 33, 33, 1);
$text-colour: rgba(97, 97, 97, 1);
$bg-colour: rgba(249, 249, 251, 1);

$red: #fe0000;
$black: #000000;
$white: #ffffff;

$main-colour: #1572b6;
$second-colour: #e34f26;
